h4.underlined-text,
h3.underlined-text {
  position: relative;
  margin-bottom: 25px;
}

h4.underlined-text::after,
h3.underlined-text::after {
  display: block;
  content: '';
  width: 100%;
  height: 1px;
  background: var(--burntOrange);
  position: absolute;
  bottom: -5px;
  left: 0;
}


.link-with-burnt-orange-color {
  color: var(--burntOrange);
  font-weight: 700;
}

.services {
  position: relative;
  display: flex;
  max-width: 1600px;
  margin: 0 auto;
  align-content: flex-start;
  background-color: var(--backgroundSeashell);
}

.services-left {
  background-color: var(--burntOrange);
  /* width: 0; */
  padding: 50px 5px 0;
  display: none;
}


.services-left ul {
  text-align: left;
  margin: 0;
  font-size: 1.125rem;
  padding-left: 0;
}


.services-left li {
  /* list-style-type: square; */
  color: var(--backgroundSeashell);
  margin-bottom: 25px;
}




.services-right {
  text-align: left;
  margin: 50px auto;
  max-width: 650px;
  padding: 0 25px;
}

/* #mySidebar.services-left.sidebar::after {
  display: block;
  content: url(../assets/icons/angles-left-solid.svg);
  width: 25px;
  height: 15px;
  background: rgb(255, 191, 0);
  position: absolute;
  top: 0;
  left: 35%;
} */

.close-sidebar {
  position: absolute;
  top: 0;
  left: 30%;
}

.open-sidebar {
  position: absolute;
  top: 0;
  left: 35%;
  width: 50px;
  height: 20px;
  border: solid 1px black;
  cursor: pointer
}

.open-sidebar::before {
  display: block;
  content: '>';
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 35%;
}



/* ***************************** */

.faqs {
  display: flex;
  /* min-width: 300px; */
  /* margin: 0 5%; */
  padding: 75px 5% 50px;
  position: relative;
  flex-direction: column;
  background-color: var(--backgroundText);
}

.page-title {
  text-align: left;
  padding: 25px 0 25px 5%;
  background-image: url('..//assets/images/rear_extention_zinc_roof_16-2.jpg');
  background-position: 40%;
  background-size: cover;
  max-width: 1600px;
  margin: 0 auto;
}

.page-title h2 {
  color: var(--backgroundSeashell);
}

.page-title h3 {
  color: var(--backgroundSeashell);
}


.faq-title h4 {
  color: var(--burntOrange);
}




.faqs-list {
  padding: 0 10px;
  text-align: left;
  /* margin: 0 25px; */
  border-left: solid 1px var(--burntOrange);
}

div.faqs-list li {
  padding: 10px;
}

div.faqs-list li a {
  color: var(--eerieBlack);
}

.faqs-list li a:hover {
  text-decoration: underline;
  text-decoration-color: var(--burntOrange);
  text-decoration-thickness: 1px;
  text-underline-offset: 5px;
}

.faq-content-wrapper {
  max-width: 650px;
  margin: 0 auto;

}

.faq-title,
.faq-content {
  text-align: left;
}

.faq-content {
  padding-top: 25px;
}


button.back-to-faqs-list {
  background-color: var(--burntOrange);
  border-radius: 0;
  border: transparent;
  position: absolute;
  top: 0;
  left: 5%;
}

button.back-to-faqs-list:hover {
  background-color: transparent;
  border: solid 1px var(--burntOrange);
}


.back-to-faqs-list i {
  padding-right: 10px;
  color: var(--backgroundSeashell);
}

.back-to-faqs-list a {
  color: var(--backgroundSeashell);
}

.back-to-faqs-list:hover i {
  padding-right: 10px;
  color: var(--eerieBlack);
}

.back-to-faqs-list:hover a {
  color: var(--eerieBlack);
}



/* ****About Us** */

.background-img-about-us {
  background-image: url(../assets/images/about-us-.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 15%;
  width: 100%;
  height: 207px;
  position: absolute;
  top: 0%;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: -1;
}

.page-title.about-us {
  background-image: url('..//assets/images/about-us-1.jpg');

}

.top-section-about-us {
  opacity: 1;
  padding: 50px 0;
  /* background-color: rgba(83, 33, 0, 0.25); */
  height: 48px;
}

.tittle-name-about-us {
  background: rgba(203, 83, 2, 0.35);
  color: var(--backgroundSeashell);
  text-align: center;
  padding: 10px 5%;
  /* margin-top: 150px; */
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
}

/* .tittle-content-about-us {
  background: rgba(203, 83, 2, 0.35);
  color: var(--backgroundSeashell);
  text-align: center;
  padding: 25px;
  margin-top: 100px;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
} */
/* .who-are-we {
  max-width: 1600px;
  margin: 0 auto;
}

.who-are-we-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 50px 5% 0;

}

.who-are-we-box {
  margin: 35px;
  width: 200px;
  height: 250px;
  position: relative;
} */


/* .text-initial {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;

}

.who-are-we-box:hover .text-initial {
  display: none;
}

.text-on-hover {
  position: absolute;
  top: 0;
  padding: 10px;
  display: none;
  color: white;
}

.who-are-we-box:hover .text-on-hover {
  display: block;

}


.who-are-we-box.planning-drawings {
  background: rgb(166, 139, 113);
}

.who-are-we-box.planning-drawings:hover {
  background: rgb(59, 43, 29);
  color: var(--backgroundSeashell);
  cursor: pointer;
} */


.about-us-wrapper {
  background-color: var(--backgroundSeashell);
  padding: 50px 25px;
  /* margin-top: 50px; */
}

.about-us-info {
  max-width: 550px;
  margin: 0 auto;
}

.about-us-info h3 {
  color: var(--eerieBlack);
}

.the-team {
  max-width: 550px;
  margin: 51px auto;
}

.team {
  text-align: left;
  margin: 50px auto;
  max-width: 300px;
  background: var(--backgroundText);
  padding: 25px;
}

.team p {
  /* font-size: 1.125rem; */
  line-height: 1.75rem;
}

@media screen and (min-width: 1024px) {
  .page-title {
    padding: 50px 0 50px 5%;
  }

  .faqs {
    /* display: flex; */
    max-width: 1600px;
    margin: 0 auto;
    justify-content: center;
    flex-direction: row;
    background-color: var(--backgroundText);
  }

  .faqs-list {

    margin: 0 50px;
  }

  li.nav-item-sidebar a {
    color: var(--backgroundSeashell);
  }


  .services-left {
    /* background-color: var(--burntOrange); */
    width: 17.5%;
    padding: 50px 0 0 5%;
    display: block;
  }

  #toggle {
    opacity: 0;
    padding: 0;
  }

  /******* About Us **************************/

  .background-img-about-us {
    height: 275px;
  }

  .top-section-about-us {
    height: 90px;
  }

  .team p {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

}