h4.underlined-text {
  position: relative;
}

h4.underlined-text::after {

  display: block;
  content: '';
  width: 100%;
  height: 1px;
  background: var(--burntOrange);
  position: absolute;
  bottom: -5px;
  left: 0;
}

.link-with-burnt-orange-color {
  color: var(--burntOrange);
  font-weight: 700;
}

.services {
  position: relative;
  display: flex;
  max-width: 1600px;
  margin: 0 auto;
  align-content: flex-start;
}

.services-left {
  background-color: var(--burntOrange);
  width: 25%;
  padding: 50px 0 0 10%
}



.services-left li {
  list-style-type: square;
  color: var(--backgroundSeashell);
  margin-bottom: 25px;
}


.services-left ul {
  text-align: left;
  margin: 0;
  font-size: 1.125rem;
}

.services-right {
  text-align: left;
  margin: 50px auto;
  max-width: 650px;
}

/* #mySidebar.services-left.sidebar::after {
  display: block;
  content: url(../assets/icons/angles-left-solid.svg);
  width: 25px;
  height: 15px;
  background: rgb(255, 191, 0);
  position: absolute;
  top: 0;
  left: 35%;
} */

.close-sidebar {
  position: absolute;
  top: 0;
  left: 30%;
}

.open-sidebar {
  position: absolute;
  top: 0;
  left: 35%;
  width: 50px;
  height: 20px;
  border: solid 1px black;
  cursor: pointer
}

.open-sidebar::before {
  display: block;
  content: '>';
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 35%;
}



/* ***************************** */

.faqs {
  min-width: 300px;
  margin: 50px auto;
}

.page-title {
  /* height: 125px; */
  width: 100%;
  text-align: left;
  padding: 75px 0 75px 10%;
  background-image: url('..//assets/images/background/faqs-background.png');
  background-position: center;
  background-color: #ff80001a;
  max-width: 1600px;
  margin: 0 auto;
}



.faq-title h4 {
  color: var(--burntOrange);
}



/* div.page-title::before {
  content: '';
  color: transparent;
  background-image: url('..//assets/images/background/faqs-background.png');
  position: absolute;
  top: 0%;
  left: 0;
  height: 100%;
  opacity: 1;
} */


.faqs-list {
  padding: 0 10px;
  text-align: left;
  margin: 0 25px;
  border-left: solid 1px var(--burntOrange);
}

div.faqs-list li {
  padding: 10px;
}

div.faqs-list li a {
  color: var(--eerieBlack);

}

.faq-content-wrapper {
  max-width: 800px;
  margin: 0 auto;

}

.faq-title,
.faq-content {
  text-align: left;
  padding: 12px 25px;
  margin: 12px;
}

.faq-title {
  background: rgb(203 83 2 / 20%);
}

.faq-content {
  background: rgb(203 83 2 / 5%);
}

button.back-to-faqs-list {
  width: 100%;
  background-color: rgba(203, 83, 2, 0.55);
  margin: 12px 0;
  padding: 12px 0 12px 10%;
  border-radius: 0;
  font-size: 1.5rem;
  text-align: left;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
}

button.back-to-faqs-list:hover {
  background-color: rgba(203, 83, 2, 0.35);
}


.back-to-faqs-list i {
  padding-right: 10px;
}

@media screen and (min-width: 800px) {

  .faqs {
    display: flex;
    max-width: 1600px;
    margin: 50px auto;
    justify-content: center;
  }

  .faqs-list {

    margin: 0 50px;
  }

  li.nav-item-sidebar a {
    color: var(--backgroundSeashell);
  }

}


/* ********************** */