:root {
  --eerieBlack: #191919;
  --peralBrush: #e1cdb9;
  --backgroundSeashell: #F8F5F2;
  /* --whiteCiltured: #F1F5F8; */
  --burntOrange: #CB5302;
  --backgroundText: rgba(202, 82, 2, 0.05);

}


html {
  color: var();
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background-color: var(--backgroundSeashell);
  color: var(--eerieBlack);
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  margin: 0;
  text-align: center;
}

a {
  text-decoration: none;
  color: var(--backgroundSeashell);
}


li {
  list-style: none;
}

h1 {
  font-size: 2.25rem;
  font-weight: 900;
}

h2 {
  font-size: 2rem;
  font-weight: 800;
  color: var(--burntOrange);
}

h3 {
  font-size: 1.25rem;
  font-weight: 600;
}

h4 {
  font-size: 1.125rem;
  font-weight: 600;
}

h5 {
  font-size: 1rem;
  font-weight: 600;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

button {
  border: none;
  background: transparent;
  /* border-radius: 10px; */
  padding: 10px 20px;
  transition: 0.2s ease-in-out;
  font-family: 'Karla', sans-serif;
  font-weight: 600;
  font-size: 0.875rem;
}

button:hover {
  cursor: pointer;
  /* transform: scale(1.1); */
  border: 1px solid var(--burntOrange);
  background-color: transparent;
  /* scale: 1.05rem; */
}


.background-img {
  background-image: url(../assets/images/background-top-section.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 15%;
  width: 100%;
  height: 750px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: -1;
}

/* header */


.navbar {
  display: flex;
  position: sticky;
  top: 0;
  background-color: var(--backgroundSeashell);
  max-width: 1600px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  z-index: 20;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

li.nav-item.hide-on-mobile {
  display: none;
}

.nav-menu {
  padding-left: 5%;
}

.logo a img {
  height: 50px;
  /* float: right; */
  margin-top: 5px;
}

.nav-container {
  position: absolute;
  right: 0;
  top: 60px;
  background-color: var(--burntOrange);
  width: 100%;
  z-index: 1;
  padding-bottom: 10px;
  opacity: 0;
}

.nav-link-wrapper {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  /* flex-wrap: wrap; */
  /* width: 100%; */
  /* text-align: left; */
  /* margin-left: 5%; */
  /* transition: width 2s; */
}

.nav-link-wrapper li {
  margin: 8px 0 8px 5%;
  text-align: left;
}

.hamburger-icon {
  width: 25px;
  height: 25px;
  z-index: 2;
  float: left;
  margin: 0 0 0 5%;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  display: none;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  outline: none;
  color: var(--backgroundSeashell);
  padding: 10px 0;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}


.dropdown-content {
  width: 100%;
  z-index: 1;
  background-color: var(--burntOrange);

}

.dropdown-content a {
  float: none;
  color: var(--backgroundSeashell);
  padding: 8px 0;
  text-decoration: none;
  display: block;
  text-align: left;
}

.fa-caret-down::before {
  color: var(--backgroundSeashell);
}

.topnav a:hover,
.dropdown:hover .dropbtn {
  color: var(--eerieBlack);
  /* border-bottom: 3px solid var(--burntOrange); */
}




button.dropbtn {
  border: none;
  background-color: transparent;
  margin: 50px auto 25px;
}





.nav_phone-number {
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: space-evenly; */
  /* background-color: var(--burntOrange); */
  /* width: 20%; */
  padding-right: 5%;
}

.nav_phone-number .phone-icon {
  width: 100%;
  float: right;
}

.nav_phone-number .phone-num {
  display: none;
  color: var(--backgroundSeashell);

}


.nav_phone-number i {
  width: 2rem;
  color: var(--burntOrange);
  font-size: 1.5rem;
  float: right;

}

.hide-on-mobile {
  display: none;
}



/* *********************************** */

.top-section {
  opacity: 1;
  padding: 100px 0;
  background-color: rgba(83, 33, 0, 0.25);
  height: 491px;
}


.tittle-name {
  background: rgba(203, 83, 2, 0.35);
  color: var(--backgroundSeashell);
  text-align: center;
  padding: 10px 5%;
  /* margin-top: 150px; */
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
}

.tittle-content {
  background: rgba(203, 83, 2, 0.35);
  color: var(--backgroundSeashell);
  text-align: center;
  padding: 25px;
  margin-top: 100px;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
}

/* our work */

#our-work {
  background-color: var(--backgroundText);
  position: relative;
  padding: 75px 0;
  max-width: 1600px;
  margin: 0 auto;
}

.our-work-containers-wrapper-content {
  /* width: 300px; */
  padding: 25px;
  margin: 0 auto;
}

.our-work-containers-wrapper-content img {
  width: 250px;

  /* height: 250px; */
  border-bottom: solid 10px var(--burntOrange);
}

.our-work-containers-wrapper-content h4 {
  max-width: 250px;
  margin: 25px auto;

}

.our-work-containers-wrapper-content p {
  max-width: 250px;
  margin: 15px auto;

}



.our-work-intro-content p {
  padding: 50px;
  max-width: 600px;
  margin: 0 auto;
}

button.our-work-get-in-touch {
  background: var(--burntOrange);
  margin: 25px 0 0;
  color: var(--backgroundSeashell);
}

button.our-work-get-in-touch:hover {
  color: var(--burntOrange);
  background: transparent;

}


/* ***************************** */


/**why-us ********************/

#why-us {
  background-color: rgba(83, 33, 0, 0.05);
  margin: auto;
  width: 100vw;
  max-width: 1600px;
  position: relative;
}

.why-us-wrapper {
  position: relative;
  padding: 50px 0;
}

.why-us-background-img {
  background-image: url(../assets/images/background-top-section.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  width: 100%;
  height: 920px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0.15;
  z-index: -1;
}

.why-us-wrapper .why-us-info {
  padding: 0 25px;
  max-width: 550px;
  margin: 0 auto;
}

.why-us-wrapper .why-us-info h4 {
  color: var(--burntOrange);
}

/**contact us ********************/

#contact-us {
  background-color: var(--backgroundText);
  padding: 0 5%;
}

.contact-us-wrapper {
  /* background-color: var(--peralBrush); */
  padding: 50px 10%;
  max-width: 350px;
  margin: 0 auto;
  border-radius: 10px;
}


.contact-us-wrapper h4 {
  margin: 50px 0;
}

.contact-info {
  margin: 50px auto 0;
  text-align: left;
}

.contact-info .email-me:before,
.contact-info .call-me:before,
.contact-info .location:before,
.contact-info .github-contact:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  float: left;
  margin: 0 10px 0 0;
}

.contact-info .email-me:before {
  background: url("../assets/icons/mail.png") no-repeat;
}

.contact-info .call-me:before {
  background: url("../assets/icons/call.png") no-repeat;
}

.contact-info .location:before {
  background: url("../assets/icons/location.png") no-repeat;
}

/* ***************************** */
footer {
  background-color: var(--burntOrange);
}

.copywright {
  padding: 25px 0
}

.copywright p {
  color: var(--backgroundSeashell);

}

p.copywright-reserved {
  font-size: 0.75rem;
  font-weight: 400;
  color: var(--backgroundSeashell);
}

footer a {
  color: var(--backgroundSeashell);
}

/********** media screen ****************/


@media screen and (min-width: 1024px) {
  h1 {
    font-size: 5rem;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  h5 {
    font-size: 1.25rem;
  }

  a {
    color: var(--eerieBlack);
  }

  .nav_phone-number h3 {
    padding: 12px 0;
  }

  li.nav-item.hide-on-mobile {
    display: block;
  }

  .top-section {
    height: 465px;
    max-width: 1600px;
    margin: 0 auto;
    position: relative;
  }

  .top-section .tittle-name {
    padding: 10px 5%;
    text-align: left;
  }


  .top-section .tittle-content {
    position: absolute;
    top: 0;
    right: 5%;
    width: 220px;
    margin-top: 0px;
    padding: 315px 15px 0;
    height: 350px;
    font-size: 1.125rem;
    text-align: left;

  }

  .our-work-containers-wrapper {
    display: flex;
    flex-direction: row;
    padding: 0 5vw;
  }


  .why-us-background-img {
    height: 695px;

  }

  .logo {
    margin-left: 5%;
    order: 0;
    /* width: 25%; */
  }

  .logo a img {
    height: 75px;
    float: left;

  }

  .nav-menu {
    order: 1;
    /* width: 50%; */
  }

  .nav-menu li a {
    /* font-size: 1.25rem; */
    font-weight: 500;
  }

  .nav-container {
    opacity: 1;
  }

  .nav-menu .nav-container {
    position: relative;
    background-color: transparent;
    top: 0;
    padding-bottom: 0;
  }

  a.active {
    /* background: var(--burntOrange); */
    color: var(--eerieBlack);
    padding: 10px 0 30px;
    position: relative;
  }

  a.active::after {

    display: block;
    content: '';
    width: 100%;
    height: 10px;
    background: var(--burntOrange);
    position: absolute;
    bottom: -5px;
    left: 0;

  }

  .dropdown .dropbtn {
    display: inline;
    color: var(--eerieBlack);
    position: relative;
    margin-right: 25px;
  }

  .fa-caret-down::before {
    color: var(--eerieBlack);
  }

  .dropdown-content {
    display: none;
    position: absolute;
    width: 150%;
    padding: 0 10px 20px;
  }

  .dropdown-content a {
    color: var(--backgroundSeashell);
    padding-left: 10px;
  }

  .dropdown-content a:hover {
    background-color: var(--peralBrush);
    color: var(--eerieBlack);
  }

  button.dropbtn:hover {
    border-radius: 0;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .nav-link-wrapper {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }

  .nav-link-wrapper li {
    margin: 7px 25px 7px 0;
  }

  .hamburger-icon {
    display: none;
  }

  .nav_phone-number {
    order: 2;
    background-color: var(--burntOrange);
    padding: 28px 10px;
    color: var(--backgroundSeashell);
    margin-right: 5%;
    min-width: 230px;
    /* width: 25%; */
  }

  .nav_phone-number .phone-icon {
    float: left;
    /* padding-right: 10px; */
    width: 30px;
  }

  i.fa-solid.fa-phone {
    font-size: 1.75rem;
    color: var(--backgroundSeashell);
    cursor: pointer;
  }

  .nav_phone-number .phone-num {
    display: inline;
    font-size: 1.5rem;
    font-weight: bold;
  }


  .hide-on-mobile {
    display: block;
  }

  a.email-me {
    color: var(--eerieBlack);
  }
}

/* ****************************/


/************************CONTACT ME************************/
#contactMe {
  background-color: var(--backgroundText);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#contactMe .box a {
  cursor: pointer;
  transition: 0.5s;
}

#contactMe .box a:hover {
  color: var(--burntOrange);
  font-size: 1.125rem;
}

#contactMe h3 {
  margin-top: 50px;
}

#contactMe a,
#contactMe p {
  font-size: 1rem;
}

.box {
  width: 100%;

}

.box a {
  color: var(--eerieBlack);
  margin-top: 25px;
}

#contact {
  border-radius: 5px;
  margin: 25px auto 0;
  width: 50%;
}


fieldset {
  border: medium none;
  margin: 0 0 20px;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact textarea {
  width: 100%;
  border: 1px solid var(--eerieBlack);
  border-radius: 5px;
  background: var(--backgroundSeashell);
  margin: 0 -10px 5px;
  padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid var(--burntOrange);
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: vertical;
}

::-webkit-input-placeholder {
  color: var(--eerieBlack);
  opacity: 0.5;
}

:-moz-placeholder {
  color: var(--eerieBlack)1E;
  opacity: 0.5;
}

::-moz-placeholder {
  color: var(--eerieBlack);
  opacity: 0.5;
}

:-ms-input-placeholder {
  color: var(--burntOrange);
  opacity: 0.5;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  border-radius: 5px;
  background: var(--burntOrange);
  color: var(--backgroundSeashell);
  padding: 10px 20px;
  font-size: 1rem;
  transition: transform .5s;
  float: left;

}

#contact button[type="submit"]:hover {
  background: transparent;
  border: 1px solid var(--burntOrange);
  color: var(--burntOrange);
  text-decoration: none;
  -ms-transform: scale(1.025);
  -webkit-transform: scale(1.025);
  transform: scale(1.025);
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid var(--peralBrush);
}