:root {
  --eerieBlack: #191919;
  --peralBrush: #e1cdb9;
  --backgroundSeashell: #F8F5F2;
  /* --whiteCiltured: #F1F5F8; */
  --burntOrange: #CB5302;
}


html {
  color: var();
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background-color: var(--backgroundSeashell);
  color: var(--eerieBlack);
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  margin: 0;
  text-align: center;
}

a {
  text-decoration: none;
  color: var(--backgroundSeashell);
}


li {
  list-style: none;
}

h1 {
  font-size: 2.25rem;
  font-weight: 900;
}

h2 {
  font-size: 2rem;
  font-weight: 800;
  color: var(--burntOrange);
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
}

h4 {
  font-size: 1.125rem;
  font-weight: 600;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

button {
  border: none;
  background: transparent;
  border-radius: 10px;
  padding: 10px 20px;
  transition: 0.5s ease-in-out;
  font-family: 'Karla', sans-serif;
  font-weight: 600;
  font-size: 0.875rem;
}

button:hover {
  cursor: pointer;
  transform: scale(1.1);
  border: 1px solid var(--burntOrange);
  background-color: transparent;
  scale: 1.2rem;
}


.background-img {
  background-image: url(../assets/images/background-top-section.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 15%;
  width: 100%;
  height: 620px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: -1;
}

/* header */


.navbar {
  display: flex;
  position: sticky;
  top: 0;
  background-color: var(--backgroundSeashell);
  max-width: 1600px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
  z-index: 20;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

li.nav-item.hide-on-mobile {
  display: none;
}

.nav-menu {
  width: 20%;
}

.logo a img {
  height: 50px;
  /* float: right; */
  margin-top: 5px;
}

.nav-container {
  position: absolute;
  right: 0;
  top: 60px;
  background-color: var(--burntOrange);
  width: 100%;
  z-index: 1;
  /* padding-bottom: 10px; */
}

.nav-link-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* width: 100%; */
  text-align: left;
  margin-left: 5%;
  /* transition: width 2s; */
}

.nav-link-wrapper li {
  margin: 10px 0;
}

.hamburger-icon {
  width: 25px;
  height: 25px;
  z-index: 2;
  float: left;
  margin: 0 0 0 5%;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  display: none;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  outline: none;
  color: var(--backgroundSeashell);
  padding: 10px 0;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}


.dropdown-content {
  /* display: none; */
  width: 100%;
  /* box-shadow: inset 2px 1px 13px 0px rgb(0 0 0 / 20%); */
  z-index: 1;
  background-color: var(--burntOrange);

}

.dropdown-content a {
  float: none;
  color: var(--backgroundSeashell);
  padding: 12px 0 0;
  text-decoration: none;
  display: block;
  text-align: left;
}

.fa-caret-down::before {
  color: var(--backgroundSeashell);
}

.topnav a:hover,
.dropdown:hover .dropbtn {
  color: var(--eerieBlack);
  /* border-bottom: 3px solid var(--burntOrange); */
}



.dropdown-content a:hover {
  background-color: var(--peralBrush);
  color: var(--eerieBlack);
}

button.dropbtn {
  border: none;
  background-color: transparent;
  margin: 50px auto 25px;
}

button.dropbtn:hover {
  /* cursor: none; */
  transform: scale(1);
  /* border: none; */
  background-color: var(--burntOrange);
  scale: 1rem;
  border-radius: 0;
}


.nav_phone-number {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* background-color: var(--burntOrange); */
  width: 20%;
}

.nav_phone-number .phone-icon {
  width: 100%;
  float: right;
}

.nav_phone-number .phone-num {
  display: none;
}


.nav_phone-number i {
  /* width: 2rem; */
  color: var(--burntOrange);
  font-size: 1.5rem;
  float: right;

}


.tittle-name {
  background: rgba(203, 83, 2, 0.35);
  color: var(--backgroundSeashell);
  text-align: center;
  padding: 10px 5%;
  /* margin-top: 150px; */
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
}

.tittle-content {
  background: rgba(30, 12, 2, 0.35);
  color: var(--backgroundSeashell);
  text-align: center;
  padding: 25px;
  margin-top: 50px;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
}

/* *********************************** */

.top-section {
  opacity: 1;
  padding: 150px 0 100px;
  background-color: rgba(83, 33, 0, 0.25);
  height: 260px;
}

.top-section tittle {
  text-align: center;
}


/* our work */

#our-work {
  /* background-color: var(--peralBrush); */
  position: relative;
  padding: 75px 0;
  max-width: 1600px;
  margin: 0 auto;
}

.our-work-containers-wrapper-content {
  width: 300px;
  padding: 25px;
  margin: 0 auto;
}

.our-work-containers-wrapper-content img {
  width: 250px;

  /* height: 250px; */
  border-bottom: solid 10px var(--burntOrange);
}

.our-work-containers-wrapper-content h4 {
  max-width: 250px;
  margin: 25px auto;

}

.our-work-containers-wrapper-content p {
  max-width: 250px;
  margin: 25px auto;

}



.our-work-intro-content p {
  padding: 50px;
  max-width: 600px;
  margin: 0 auto;
}

button.our-work-get-in-touch {
  background: var(--burntOrange);
  margin: 25px 0 0;
  color: var(--backgroundSeashell);
}

button.our-work-get-in-touch:hover {
  color: var(--burntOrange);
  background: transparent;

}


/* ***************************** */


/**why-us ********************/

#why-us {
  background-color: rgba(83, 33, 0, 0.05);
  margin: auto;
  width: 100vw;
  max-width: 1600px;
  position: relative;
}

.why-us-wrapper {
  position: relative;
  padding: 50px 0;
}

.why-us-background-img {
  background-image: url(../assets/images/background-top-section.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  width: 100%;
  height: 853px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0.15;
  z-index: -1;
}

.why-us-wrapper .why-us-info {
  padding: 0 25px;
  max-width: 550px;
  margin: 0 auto;
}

.why-us-wrapper .why-us-info h4 {
  color: var(--burntOrange);
}

/**contact us ********************/

#contact-us {
  background-color: var(--peralBrush);
  padding: 0 5vw 50px;
}

.contact-us-wrapper {
  background-color: var(--peralBrush);
  padding: 50px 10%;
  max-width: 350px;
  margin: 0 auto;
  border-radius: 10px;
}


.contact-us-wrapper h4 {
  margin: 50px 0;
}

.contact-info {
  margin: 50px auto 0;
  text-align: left;
}

.contact-info .email-me:before,
.contact-info .call-me:before,
.contact-info .location:before,
.contact-info .github-contact:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  float: left;
  margin: 0 10px 0 0;
}

.contact-info .email-me:before {
  background: url("../assets/images/github-brands.svg") no-repeat;
}

.contact-info .call-me:before {
  background: url("../assets/images/github-brands.svg") no-repeat;
}

.contact-info .location:before {
  background: url("../assets/images/github-brands.svg") no-repeat;
}

/* ***************************** */
footer {
  height: 250px;
  background-color: var(--burntOrange);

}

.copywright {
  padding: 25px 0
}

.copywright p {
  color: var(--backgroundSeashell);

}

p.copywright-reserved {
  font-size: 0.75rem;
  font-weight: 400;
  color: var(--backgroundSeashell);
}

/********** media screen ****************/


@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  a {
    color: var(--eerieBlack);
  }

  .nav_phone-number h3 {
    padding: 12px 0;
  }

  li.nav-item.hide-on-mobile {
    display: block;
  }

  .top-section {
    height: 249px;
  }

  .our-work-containers-wrapper {
    flex-direction: row;
    padding: 0 5vw;
  }

  .why-us-background-img {
    height: 751px;

  }

  .logo {
    width: 25%;
    order: 0;

  }

  .logo a img {
    height: 75px;
    float: left;

  }

  .nav-menu {
    order: 1;
    width: 50%;
  }

  /* .nav-container {
    opacity: 1;
    transform: translate(0px, 0px);
  } */

  .nav-menu .nav-container {
    position: relative;
    background-color: transparent;
    top: 0;
    padding-bottom: 0;
    /* right: 0;
    width: 100%;
    z-index: 1;
    */
  }


  .dropdown .dropbtn {
    display: inline;
    color: var(--eerieBlack);
    position: relative;
    margin-right: 25px;
  }

  .fa-caret-down::before {
    color: var(--eerieBlack);
  }

  .dropdown-content {
    display: none;
    position: absolute;
  }

  .dropdown-content a {
    color: var(--eerieBlack);
    padding-left: 10px;


  }

  .nav-link-wrapper {
    flex-direction: row;
    justify-content: flex-end;
  }

  .nav-link-wrapper li {
    margin-right: 20px;

  }

  .hamburger-icon {
    display: none;
  }

  .nav_phone-number {
    order: 2;
    width: 25%;

  }

  .nav_phone-number .phone-icon {
    float: right;
    padding-right: 10px;
    width: 10%;
  }

  .nav_phone-number .phone-num {
    display: inline;
  }


}

/* ****************************/


/* Menu Icon */

.hamb {
  cursor: pointer;
  /* float: right; */
  padding: 0 20px;
}


.hamb-line {
  background: var(--grey);
  display: block;
  height: 3px;
  position: relative;
  width: 24px;

}

.hamb-line::before,
.hamb-line::after {
  /* background: var(--backgroundSeashell); */
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.hamb-line::before {
  top: 7.5px;
  background: var(--eerieBlack);
}

.hamb-line::after {
  top: -7.5px;
  background: var(--burntOrange);
}


.side-menu {
  display: none;
}

/* Toggle menu icon */

.side-menu:checked~nav {
  max-height: 100vh;
  top: 75px;
}

.side-menu:checked~.hamb .hamb-line {
  background: transparent;
}

.side-menu:checked~.hamb .hamb-line::before {
  transform: rotate(-45deg);
  top: 0;

}

.side-menu:checked~.hamb .hamb-line::after {
  transform: rotate(45deg);
  top: 0;
}